WelcomeServiceTopDown/src/main/webapp/wsdl/GreetServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.greet.com" xmlns:intf="http://ws.greet.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.greet.com">
  
  <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
   
  <wsdl:types>
      
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.greet.com">
         
      <element name="welcomeUser">
            
        <complexType>
               
          <sequence>
                  
            <element name="name" type="xsd:string"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
         
      <element name="welcomeUserResponse">
            
        <complexType>
               
          <sequence>
                  
            <element name="welcomeUserReturn" type="xsd:string"/>
                 
          </sequence>
              
        </complexType>
           
      </element>
        
    </schema>
     
  </wsdl:types>
     
  <wsdl:message name="welcomeUserRequest">
          
    <wsdl:part element="impl:welcomeUser" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:message name="welcomeUserResponse">
          
    <wsdl:part element="impl:welcomeUserResponse" name="parameters">

      </wsdl:part>
       
  </wsdl:message>
     
  <wsdl:portType name="GreetServiceImpl">
          
    <wsdl:operation name="welcomeUser">
               
      <wsdl:input message="impl:welcomeUserRequest" name="welcomeUserRequest">

       </wsdl:input>
               
      <wsdl:output message="impl:welcomeUserResponse" name="welcomeUserResponse">

       </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:portType>
     
  <wsdl:binding name="GreetServiceImplSoapBinding" type="impl:GreetServiceImpl">
          
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
          
    <wsdl:operation name="welcomeUser">
               
      <wsdlsoap:operation soapAction=""/>
               
      <wsdl:input name="welcomeUserRequest">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:input>
               
      <wsdl:output name="welcomeUserResponse">
                    
        <wsdlsoap:body use="literal"/>
                 
      </wsdl:output>
            
    </wsdl:operation>
       
  </wsdl:binding>
     
  <wsdl:service name="GreetServiceImplService">
          
    <wsdl:port binding="impl:GreetServiceImplSoapBinding" name="GreetServiceImpl">
               
      <wsdlsoap:address location="http://localhost:8081/WelcomeServiceTopDown/services/GreetServiceImpl"/>
            
    </wsdl:port>
       
  </wsdl:service>
  
</wsdl:definitions>
